body {
    font-family: monospace;
    background-color: lavender;
    align-items: center;
    
}

header {
    width: 70%;
    height:150px ;
    background-color: skyblue;


}
 
header img {
    height: 150px;
}


