body {
    background-color: lavender;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}
select {
    width: 20%;
}

header {
    background-color: skyblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 150px;
    margin-bottom: 30px;
    border: 5px dotted black;
}
header img {
    height: 150px;
}

main {
    border: 3px dotted black;
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

input[type = "text"] {
    width: 400px;
}

ul {
    list-style-type: upper-roman;
}