body {
  font-family: monospace;
  background-color: lavender;
}

header {
  width: 70%;
  height: 150px;
  padding: 10px;
  margin-bottom: 30px;
  background: skyblue;
}

img {
  height: 150px;
}

h1 {
  float: right;
  margin-top: 3em;
}
